<nav class="main-header__nav relative bg-slate-900 text-slate-200 border-slate-200 border-b-solid border-b">
    <ul class="main-header__item-list flex flex-nowrap">
        <li class="main-header__item">
            <a class="px-10 py-5 block <%= path === '/' ? 'active' : '' %>" href="/">Shop</a>
        </li>
        <li class="main-header__item">
            <a class="px-10 py-5 block <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <li class="main-header__item">
            <a class="px-10 py-5 block<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
        </li>
        <li class="main-header__item">
            <a class="px-10 py-5 block <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
        </li>
        <li class="main-header__item">
            <a class="px-10 py-5 block <%= path === '/checkout' ? 'active' : '' %>" href="/checkout">Checkout</a>
        </li>
        <li class="main-header__item">
            <a class="px-10 py-5 block <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a>
        </li>
        <li class="main-header__item">
            <a class="px-10 py-5 block <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
        </li>
    </ul>
</nav>
