<%- include('../includes/header') %>

    <header class="main-header">
        <%- include('../includes/navigation') %>
    </header>

    <main class="container mx-auto pt-6">

        <% if (prods.length > 0) { %>
            
            <div class="flex flex-wrap justify-center">
                
                <% for( let product of prods ) { %>

                    <% if ( product.title.length >= 1 ) { %>
                    <div class="card product-item  w-64  m-5">
                            <div class="product-item__thumbnail mb-3">
                                <img width="200" class="card__image" src="<%=product.imageUrl%>" />
                            </div>
                                <div class="product-item__short-description mb-3 flex-1">
                                    <p class="text-sm font-light text-slate-700">
                                        <a href="/products/<%=product.slug%>">
                                            <%=product.title%>
                                        </a>
                                    </p>
                                </div>
                                <div class="product-item__price  mb-3">
                                    <p class="text-slate-900 font-light">
                                        $<%=parseFloat(product.price).toFixed(2)%>
                                    </p>
                                </div>
                            <div class="product-item__button flex items-center justify-between">
                                
                                <a href="/products/<%=product.slug%>" class="text-sm font-light">Details</a>

                                <%- include('../includes/add-to-cart.ejs', {
                                    product: product
                                }) %>
                                
                            </div>
                    </div>

                    <% } %>

                <% } %>

            </div>
            
        <% } else { %>
            <h1>No products found</h1>
        <% } %> 
    </main>
<%- include('../includes/footer') %>