<%- include('../includes/header') %>

<header class="main-header">
    <%- include('../includes/navigation') %>
</header>

<main>
    
    <article>
        <div class="class w-1/2 py-5 m-auto">
            <h1 class="text-3xl font-bold">
                <%=product.title%>
            </h1>
            <h3 class="font-semibold text-2xl">
                <span class="font-light text-xl">$</span>
                <%=parseInt(product.price).toFixed(2)%></h3>

            <a class="my-2 border p-2 bg-slate-900 rounded font-light" href="/add-to-cart">
                Add to cart
            </a>
            <img src="<%=product.imageUrl%>"
            
            <p><%=product.description%></p>

            <a href="/add-to-cart">
                Add to cart
            </a>

            
        </div>
    </article>
</main>
    
<%- include('../includes/footer') %>
