<%- include('../includes/header') %>

<header class="main-header">
    <%- include('../includes/navigation') %>
</header>

<main>
    
    <article>
        <div class="flex">
            <div class="product__thumbnail flex-1">
                <img src="<%=product.imageUrl%>" />
            </div>
            <div class="product__details  flex-1">
                <h1 class="text-3xl font-bold">
                    <%=product.title%>
                </h1>

                <div class="flex items-center">
                    <h3 class="font-semibold text-2xl mr-5">
                        <span class="font-light text-xl">$</span>
                        <%=parseInt(product.price).toFixed(2)%>
                    </h3>
                    <a class="inline-block my-2 text-sky-400 rounded p-2 bg-slate-900 font-light" href="/add-to-cart">
                        Add to cart
                    </a>
                </div>

                <p><%=product.description%></p>
    
            </div>
        </div>
    </article>
</main>
    
<%- include('../includes/footer') %>
